extends layout

block title
    title Badgerat - Badges

block content
    include header
        block navlist
            li
                a(href='profile.html') Profile
            li
                a(href='logout.html') Log out

    section#canvas
        ul.badgelist
            li
                p Description
            li
                p Description
            li
                p Description
            li
                p Description
            li
                p Description
            li
                p Description
            li
                p Description
            li
                p Description
            li
                p Description
