extends layout

block title
    title Badgerat - Get Points

block content
    include header
        block navlist
            li
                a(href='/profile') Profile
            li
                a(href='/badges') Badges
            li
                a(href='/resetpassword') Reset Password
            li
                a(href='/logout') Log Out

    include notificationList

    section#canvas
        form.getPoints(action='#', method='post', novalidate)
            fieldset
                p.score You have 0 points.

            fieldset
                img.ajaxSpinner(src='/static/img/ajax-loader.gif', style='display: none;', width='16', height='16', alt='Loading...')
                input#submit(type='submit', value='Get Points!', name='submit')

block bootstrap
    script
        BOOTSTRAP = {
            User: { id: 1, name: 'Decoy', points: 300 }
        }
