block header
    header
        a(href='/')
            h1 BadgeRat
        nav
            a.btnToggleNav
                i.icon-more-32
                i.icon-more-60
            ul.navList
                block navlist
