extends layout

block title
    title Badgerat - Coming Soon

block content
    section#canvas.splash
        .horizon
            div
                h2 BADGERAT
                .splashbadge
                    p Coming soon
                    i.icon-bert-270
                    i.icon-bert-180
