$clr_theme_1: #1B1B47;  // blue
$clr_theme_2: #eee;     // white
$clr_theme_3: #C09F1B;  // yellow


$bg_header: #ccc;
$bg_error: lighten($clr_theme_1, 20%);

$bdr_input: #333;
$clr_input: #333;
$clr_selection: #ff0;

$clr_bg: $clr_theme_1;
$clr_body_copy: $clr_theme_2;
$clr_heading: #fff;
$clr_error: $clr_theme_2;

$clr_link: $clr_theme_2;
$clr_link_hover: darken($clr_theme_2, 10%);
$clr_link_active: lighten($clr_theme_2, 10%);




















